[user]
	name = IWATSUKI Hiroyuki
	email = don@na.rim.or.jp
[color]
	ui = true
[alias]
	co = checkout
	ci = commit
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	pager = lv -c -Ou8
[include]
	path = ~/.gitconfig.github
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[init]
	defaultBranch = master
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
