.DS_Store
.emacs.d/.*-custom.el
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/*.elc
.emacs.d/ac-comphist.dat
.emacs.d/auto-complete
.emacs.d/auto-save-list
.emacs.d/desktops
.emacs.d/elpa
.emacs.d/transient
.emacs.d/url
.svn
*~
